<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-7">
            <h1>
                Glory-I 
            </h1>
            <h3>
               <br> Vous aimez la mode, nous aussi!<br>
                Brille brillante comme un diamant! <br>
                Tu veux être une star, alors GO, on t'attend ! <br>
                Rejoignez-nous !
            </h3>
            <p>
                GLory-C ' est une école d'art universelle qui comprend différents domaines. Mais la direction principale est la mode ! C ' est bien plus qu'une simple école de mannequinat. Voici l'endroit pour devenir une star. Nous organisons des castings et compétitions en France et à l'étranger. Nous ne nous limitons pas aux cadres modèles standard, et voulons vous donner la possibilité de conquérir les podiums et reprises des magazines brillants. Nous sommes à la recherche de nouveaux visages et talents. Nous voulons vous aider à réaliser vos rêves. Alors, rejoignez-nous ! Grimpez sur le podium de gloire ! Brille, brille, sois une étoile !
L ' école de modélisation Glory-I enseigne les souillures, le maquillage, le style, les présentations et les séances photos. Il y a aussi des cours de musique, de chant, de danse, d'oratoire, de mode et d'histoire de marque, et d'acteur. Soyez prêt pour le nouveau concours, prêt à vous montrer au monde !
            </p>
            <br>
            <img src="assets/apr2.jpg" alt="">
        </div>
        <div class="col-md-5">
            <img src="assets/apr1.jpg" alt="">
        </div>
    </div>
</div>