h1{
    font-size: 3em;
    text-transform: capitalize;
    font-family: 'Emilys Candy', cursive;
    font-weight: bold;
    border-bottom: 1px solid #9e9e9e;
    line-height: 1.2;
    color: #333;
}
p{
    color: #777;
    font-size: 1em;
}
img{
    width: 100%;
}
.col-md-5{
    margin-top: 150px;
}